html {
    color: white;
    font-family: 'Lato', sans-serif;
}
body {
    background: black;
}
.header {
    text-align: center;
}
.loader {
    text-align: center;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
}
.preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}