html {
    color: #333;
    font-family: 'Lato', sans-serif;
    text-shadow: -2px -1px 3px rgba(150, 150, 150, 0.69);
    font-size: 40px;
}

.main {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}